################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/PalmLab5Main2/obj/Debug/net7.0/ref
/PalmLab5Main2/obj/Debug/net7.0/refint
/PalmLab5Main2/obj/Debug/net7.0/PalmLab5Main2.assets.cache
/PalmLab5Main2/obj/Debug/net7.0/PalmLab5Main2.dll
/PalmLab5Main2/obj/Debug/net7.0/PalmLab5Main2.csproj.FileListAbsolute.txt
/PalmLab5Main2/obj/Debug/net7.0/PalmLab5Main2.csproj.CoreCompileInputs.cache
/PalmLab5Main2/obj/Debug/net7.0/PalmLab5Main2.csproj.BuildWithSkipAnalyzers
/PalmLab5Main2/obj/Debug/net7.0/PalmLab5Main2.csproj.AssemblyReference.cache
/PalmLab5Main2/obj/Debug/net7.0/apphost.exe
/PalmLab5Main2/obj/project.nuget.cache
/PalmLab5Main2/obj/project.assets.json
/PalmLab5Main2/obj/PalmLab5Main2.csproj.nuget.g.props
/PalmLab5Main2/obj/PalmLab5Main2.csproj.nuget.dgspec.json
/PalmLab5Main2/obj/Debug/net7.0/PalmLab5Main2.pdb
/PalmLab5Main2/obj/Debug/net7.0/PalmLab5Main2.genruntimeconfig.cache
/PalmLab5Main2/obj/Debug/net7.0/PalmLab5Main2.GeneratedMSBuildEditorConfig.editorconfig
/.vs/PalmLab5Main2/v17
/PalmLab5Main2/bin/Debug/net7.0/PalmLab5Main2.runtimeconfig.json
/PalmLab5Main2/bin/Debug/net7.0/PalmLab5Main2.pdb
/PalmLab5Main2/bin/Debug/net7.0/PalmLab5Main2.exe
/PalmLab5Main2/bin/Debug/net7.0/PalmLab5Main2.dll
/PalmLab5Main2/bin/Debug/net7.0/PalmLab5Main2.deps.json
/.vs/PalmLab5Main2/FileContentIndex
/.vs/PalmLab5Main2/DesignTimeBuild
/.vs/PalmLab5Main/v17
/.vs/ProjectEvaluation
